<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaft.org">
<head th:replace="/fragments/head :: head"/>
<head>
    <link rel="stylesheet" href="/static/css/memberJoin.css">
</head>
<body>
<div id="container">
    <header th:replace="/fragments/header :: header"/>
    <main id="main">
        <nav th:replace="/fragments/nav :: nav"/>
        <div id="content">
            <!-- 들어올 Body -->
        </div>
    </main>
    <footer></footer>
</div>
<script src="/static/js/member/modify.js"></script>
</body>
</html>